In [3]:
import os

In [5]:
os.getcwd()
#Get the current working directory

'C:\\Users\\sumai'

In [17]:
os.chdir('C:\\Users\\sumai\\OneDrive\\Desktop')
#change the directory

In [19]:
os.getcwd()

'C:\\Users\\sumai\\OneDrive\\Desktop'

In [21]:
import pandas as pd
pd.read_csv('tips.csv')

   Total bill  Tips     Sex Somker  Day   Time   Size
0       15.99  1.01  female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.69  3.61    Male     No  Sun  Dinner     2
4       24.59  4.71  female     No  Sun  Dinner     4
5       25.29  2.00    Male     No  Sun  Dinner     4
6        8.77  3.12    Male     No  Sun  Dinner     2
7       26.88  1.96    Male     No  Sun  Dinner     4
8       15.04  3.23    Male     No  Sun  Dinner     2